@import './reset.css';
@import '@digdir/designsystemet-css';
@import '@digdir/designsystemet-theme';
@import './ds-overrides.scss';

:root {
    // Colors
    --fdk-color-navy: #1e2b3c;
    --fdk-color-navy-dark: color-mix(in srgb, var(--fdk-color-navy), #000 60%);
    --fdk-color-blue-lightest: #ddeaf6;
    --fdk-color-blue-light: #1e98f5;
    --fdk-color-blue: #0062ba;
    --fdk-color-blue-dark: #004f96;
    --fdk-color-cyan: #8eaacb;
    --fdk-color-orange: var(--ds-color-brand2-base-default);
    --fdk-color-red: #b81a1a;

    // Other variables
    --fdk-color-interactive: var(--fdk-color-blue);
    --fdk-color-interactive-negative: var(--fdk-color-cyan);
    --fdk-color-text: var(--fdk-color-navy);
    --fdk-color-text-negative: white;
    --fdk-color-link: var(--fdk-color-interactive);
    --fdk-color-link-negative: var(--fdk-color-interactive-negative);
    --custom-helptext-size: 1.25rem;
}