.orgLogo {
    display: flex;
    width: 1em;
    height: 1em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;

    svg,
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    svg {
        color: var(--color-text);
    }
}